.game__board {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-flow: column nowrap;
  align-items: stretch; }

.game__row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: stretch;
  background-image: linear-gradient(#F0F0F0, #F0F0F0);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: center center; }

.game__cell {
  position: relative;
  flex: 1;
  cursor: pointer;
  background-image: linear-gradient(#F0F0F0, #F0F0F0);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: center center; }
  .game__cell.game__cell--owned {
    cursor: default; }
  .game__cell .omok__piece {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center; }
    .game__cell .omok__piece > i {
      flex: 1; }

@keyframes wiggle {
  0% {
    transform: rotate(8deg); }
  50% {
    transform: rotate(-8deg); }
  100% {
    transform: rotate(8deg); } }
    .game__cell .omok__piece.omok__piece--last-placed > i {
      animation: wiggle 0.5s infinite; }
