#game-panel {

}

.game__board {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: stretch;
}

.game__row {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: stretch;
    
    background-image: linear-gradient(#CCC, #CCC);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: center center;
    //border-top: 1px solid #F0F0F0;
    //&:last-child { border-bottom: 1px solid #F0F0F0;  }
}

.game__cell {
    position: relative;
    flex: 1;
    cursor: pointer;

    background-image: linear-gradient(#CCC, #CCC);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
    //border-left: 1px solid #F0F0F0;
    //&:last-child { border-right: 1px solid #F0F0F0; }
    &.game__cell--owned {
        cursor: default;
    }

    .omok__piece {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-flow: row;
        align-items: center;
        text-align: center;

        & > i {
            flex: 1;
        }

        @keyframes wiggle {
            0% {
                transform: rotate(8deg);
            }

            50% {
                transform: rotate(-8deg);
            }

            100% {
                transform: rotate(8deg);
            }
        }

        &.omok__piece--last-placed {
            & > i {
                animation: wiggle 0.5s infinite;
            }
        }
    }
}