.yut__wrap .game__board {
  position: absolute;
  top: 0;
  left: 0;
  right: 20%;
  bottom: 20%; }

.yut__wrap .yut__footer {
  position: absolute;
  top: 80%;
  left: 0;
  right: 20%;
  bottom: 0; }

.yut__wrap .yut__sidebar {
  position: absolute;
  top: 0;
  left: 80%;
  right: 0;
  bottom: 20%; }

.yut__wrap .yut__corner {
  position: absolute;
  top: 80%;
  left: 80%;
  right: 0;
  bottom: 0; }
  .yut__wrap .yut__corner .roll__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.game__board {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-flow: column nowrap;
  align-items: stretch;
  background-repeat: no-repeat;
  background-image: url("images/game/yut/yut-game-directions.svg");
  background-size: 100% 100%;
  background-position: center center; }

.game__row {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-flow: row nowrap;
  align-items: stretch; }

.game__cell {
  position: relative;
  flex: 1; }
  .game__cell.game__cell--available {
    cursor: pointer; }
    .game__cell.game__cell--available:after {
      content: ' ';
      position: absolute;
      top: 5%;
      bottom: 5%;
      left: 5%;
      right: 5%;
      border-radius: 5%;
      transition: border-color ease-in-out 0.25s;
      border: 2px solid #2c3e50; }
    .game__cell.game__cell--available:hover:after {
      border-color: #27ae60; }
