@import "_mixins";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {

}

#game-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: column nowrap;
}

.game__wrap {
    display: flex;
    flex: 1;
}

.chat__box {
    border: 1px solid #E0E0E0;
    font-size: .75rem;
    height: 100%;
    padding: 0 .25em;

    .chat__messages {
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }

    .chat__message {
        .chat__message-name {
            font-weight: bold;
            margin-right: 0.25em;
            white-space: nowrap;
        }

        .chat__message-message {
            word-break: break-word;
        }
    }
}

.avatar__box {
    background: #FFFFFF;

    border: 1px solid #E0E0E0;

    position: relative;
    overflow: hidden;

    .avatar {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }
    
    @mixin insetBoxShadow($color) {
        box-shadow: 0px 0px 0px 2px inset $color;
    }

    @include insetBoxShadow(#E0E0E0);

    &.avatar__box--spectating { @include insetBoxShadow(#7f8c8d); }
    &.avatar__box--turn { @include insetBoxShadow(#e74c3c); }
    &.avatar__box--ready { @include insetBoxShadow(#e67e22); }
    &.avatar__box--me { @include insetBoxShadow(#8e44ad); }
    &.avatar__box--me.avatar__box--turn { @include insetBoxShadow(#27ae60); }

    .player__avatar__name {
        flex: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
        padding: 0 2px;
        font-size: 8px;
        font-weight: bold;
        opacity: 0.65;
        background-color: rgba(127,127,127);
        white-space: nowrap;
        text-overflow: clip;
    }

    .player__avatar__stats {
        opacity: 0.8;
        cursor: pointer;
    }
}

.logo__main {
    width: 100%;

    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('images/logo.svg');

    @include responsive-ratio(1,0.33);
}

.avatar { 
    text-align: center; 
}
.avatar__piece-wrap {
    position: relative;
    height: 100%; width: 100%;

    .avatar__piece-piece,
    .avatar__piece-piece-mask,
    .avatar__piece-face {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;

        pointer-events: none !important;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
    }
}

@media (max-width: 768px) { // md- breakpoint
    #time-tracker {
        border-radius: .5em 0 0 0;
        margin: 0;
        padding: 0 0.5em;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
        background-color: rgba(44, 62, 80,0.85);
        color: rgba(236, 240, 241,1.0);

        svg { fill: rgba(236, 240, 241,1.0); }
    }
    #current-turn {
        border-radius: 0 .5em 0 0;
        margin: 0;
        padding: 0 0.5em;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(44, 62, 80,0.85);
        color: rgba(236, 240, 241,1.0);

        svg { fill: rgba(236, 240, 241,1.0); }
    }
}

/* Media queries to ensure the game board uses aspect ratio rendering if we get too tall */
@media (max-aspect-ratio: 1/1), (min-width: 768px) and (max-aspect-ratio: 9/6) {
    #game-panel {
        height: auto !important;
    }

    .game__wrap {
        flex: none !important;

        &::before {
            content: "";
            width: 1px;
            margin-left: -1px;
            float: left;
            height: 0;
            padding-top: 100%;
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.ratio-square {
    @include responsive-ratio(1,1, $pseudo: true);
}