html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

#game-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-flow: column nowrap; }

.game__wrap {
  flex: 1; }

.chat__box {
  border: 1px solid #E0E0E0;
  font-size: .75rem;
  height: 100%;
  padding: 0 .25em; }
  .chat__box .chat__messages {
    overflow: hidden;
    overflow-y: auto;
    height: 100%; }
  .chat__box .chat__message .chat__message-name {
    font-weight: bold;
    margin-right: 0.25em;
    white-space: nowrap; }
  .chat__box .chat__message .chat__message-message {
    word-break: break-word; }

.player__avatars {
  display: flex;
  flex-flow: row wrap;
  max-height: 7em;
  min-height: 3em;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-around;
  margin-top: -0.5em; }

.player__avatar {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  height: 3em;
  min-width: 3em;
  margin: 0.5em 0.25em 0 0.25em;
  align-items: center;
  border-radius: 4px; }
  .player__avatar > i {
    font-size: 1.5em;
    text-align: center;
    display: block;
    flex: 1; }
  .player__avatar.player--spectating > i {
    font-size: 1em; }
  .player__avatar.player--turn {
    border: 1px solid red; }
  .player__avatar.player--ready {
    border: 1px solid orange; }
  .player__avatar.player--me {
    border: 1px solid blue; }
  .player__avatar.player--me.player--turn {
    border-color: green; }
  .player__avatar .player__avatar__name {
    flex: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    padding: 0 2px;
    font-size: 8px;
    font-weight: bold;
    background-color: rgba(127, 127, 127, 0.4);
    white-space: nowrap;
    text-overflow: clip; }

.modal__dialog-wrap {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .modal__dialog-wrap .modal__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    background-color: white; }
  .modal__dialog-wrap .modal__dialog__content {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em; }
