@import "_mixins";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {

}

#game-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: column nowrap;
}

.game__wrap {
    display: flex;
    flex: 1;
}

.chat__box {
    border: 1px solid #E0E0E0;
    font-size: .75rem;
    height: 100%;
    padding: 0 .25em;

    .chat__messages {
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
    }

    .chat__message {
        .chat__message-name {
            font-weight: bold;
            margin-right: 0.25em;
            white-space: nowrap;
        }

        .chat__message-message {
            word-break: break-word;
        }
    }
}

.player__avatars {
    display: flex;
    flex-flow: row wrap;
    max-height: 7em;
    min-height: 3em;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-around;
    margin-top: -0.5em;
}
.player__avatar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    height: 3em;
    min-width: 3em;
    margin: 0.5em 0.25em 0 0.25em;
    align-items: center;
    border-radius: 4px;

    & > i {
        font-size: 1.5em;
        text-align: center;
        display: block;
        flex: 1;
    }

    &.player--spectating {
        & > i {
            font-size: 1em;
        }
    }

    &.player--turn { border: 1px solid red; }
    &.player--ready { border: 1px solid orange; }
    &.player--me { border: 1px solid blue; }
    &.player--me.player--turn { border-color: green; }

    .player__avatar__name {
        flex: 0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
        padding: 0 2px;
        font-size: 8px;
        font-weight: bold;
        background-color: rgba(127,127,127,0.4);
        white-space: nowrap;
        text-overflow: clip;
    }

    .player__avatar__stats {
        cursor: pointer;
    }
}

.logo__main {
    width: 100%;

    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url('images/logo.svg');

    @include responsive-ratio(1,0.33);
}

.avatar__piece-wrap {
    position: relative;
    height: 100%; width: 100%;

    .avatar__piece-piece,
    .avatar__piece-piece-mask,
    .avatar__piece-face {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;

        pointer-events: none !important;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center center;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
    }
}

@media (max-width: 768px) { // md- breakpoint
    #time-tracker {
        border-radius: .5em 0 0 0;
        margin: 0;
        padding: 0 0.5em;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
        background-color: rgba(44, 62, 80,0.85);
        color: rgba(236, 240, 241,1.0);

        svg { fill: rgba(236, 240, 241,1.0); }
    }
    #current-turn {
        border-radius: 0 .5em 0 0;
        margin: 0;
        padding: 0 0.5em;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 999;
        background-color: rgba(44, 62, 80,0.85);
        color: rgba(236, 240, 241,1.0);

        svg { fill: rgba(236, 240, 241,1.0); }
    }
}

/* Media queries to ensure the game board uses aspect ratio rendering if we get too tall */
@media (max-aspect-ratio: 1/1), (min-width: 768px) and (max-aspect-ratio: 9/6) {
    #game-panel {
        height: auto !important;
    }

    .game__wrap {
        flex: none !important;

        &::before {
            content: "";
            width: 1px;
            margin-left: -1px;
            float: left;
            height: 0;
            padding-top: 100%;
        }

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

.ratio-square {
    @include responsive-ratio(1,1, $pseudo: true);
}