// Default fonts
button, h1, h2, h3, h4, h5, h6 {
    font-family: 'Luckiest Guy', sans-serif;
}

.input-group-text, label, .game-information {
    font-family: 'Fredoka One', sans-serif;
    font-weight: normal;
}

@mixin padChild($top,$bottom,$left,$right) {
    position: relative;
    & > *:nth-child(1) {
        position: absolute;
        top: $top; bottom: $bottom;
        left: $left; right: $right;
        height: auto !important;
    }
}

body {
    background-color: #192E58;
}
#app {
    background-image: url('images/standard/background.svg');
    background-repeat: no-repeat;
    background-size: 98% 98%;
    background-position: center center;

    @include padChild(4%,4%,4%,4%);
}

.game__wrap {
    background-image: url('images/standard/game_panel_background.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include padChild(7%,7%,7%,7%);
}

.game__row, .game__cell {
    background-image: linear-gradient(#CCC, #CCC) !important;
}

.btn {
    background-color: transparent;
    background-image: url('images/standard/button_full.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;

    &:hover:not(:disabled) {
        background-color: transparent;
        background-image: url('images/standard/button_full_hover.svg');
    }

    &:active {
        background-color: transparent;
        background-image: url('images/standard/button_full_active.svg');
    }
}

.player__avatars__box {
    background-image: url('images/standard/avatar_panel.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.5em 1.5em;
}
.player__avatar {
    background-image: url('images/standard/avatar_box.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    &.player--turn { border: none; background-image: url('images/standard/avatar_box_turn.svg'); }
    &.player--spectating { border: none; background-image: url('images/standard/avatar_box_spectating.svg'); }
    &.player--me { border: none; background-image: url('images/standard/avatar_box_me.svg'); }
    &.player--ready { border: none; background-image: url('images/standard/avatar_box_ready.svg'); }
    &.player--me.player--turn { border: none; background-image: url('images/standard/avatar_box_me_turn.svg'); }
}

.chat__box {
    background-image: url('images/standard/chat_box.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    @include padChild(8%,12%,7%,9%);
}

.config__help-text {
    color: #222 !important;
}

.modal__dialog-wrap .dialog--config {
    .modal__dialog {
        height: 90%;
        width: 81vh; // hey we can use vh if we want to keep aspect ratio
        background-color: transparent;
        background-image: url('images/standard/game_config_panel.svg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        border: none;
        @include padChild(34%,6%,6%,6%);

        .modal__dialog__content {
            padding: 0;
        }
    }
}

/* customize scrollbar css */
* {
    &::-webkit-scrollbar {
        width: 12px;
        background-color: transparent;
    }

    &::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: #083a4f;
        border: none;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #277EBC;
        border: none;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #1386b5;
        border: none;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #005c82;
        border: none;
    }
}