button, h1, h2, h3, h4, h5, h6 {
  font-family: "Luckiest Guy", sans-serif;
}

.input-group-text, label, .game-information {
  font-family: "Fredoka One", sans-serif;
  font-weight: normal;
}

* {
  backface-visibility: hidden;
  perspective: 1000;
}

body {
  background-color: #192E58;
}

#app {
  background-image: url("images/standard/background.svg");
  background-repeat: no-repeat;
  background-size: 98% 98%;
  background-position: center center;
  position: relative;
}
#app > *:nth-child(1) {
  position: absolute;
  top: 4%;
  bottom: 4%;
  left: 4%;
  right: 4%;
  height: auto !important;
}

.game__wrap {
  background-image: url("images/standard/game_panel_background.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.game__wrap > *:nth-child(1) {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 7%;
  right: 7%;
  height: auto !important;
}

.btn[class*=btn-outline-] {
  background-color: transparent;
  background-image: url("images/standard/button_full.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}
.btn[class*=btn-outline-]:hover:not(:disabled) {
  background-color: transparent;
  background-image: url("images/standard/button_full_hover.svg");
}
.btn[class*=btn-outline-]:active {
  background-color: transparent;
  background-image: url("images/standard/button_full_active.svg");
}

.player__avatars__box {
  background-image: url("images/standard/avatar_panel.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0.5em 1.5em;
}

.player__avatar {
  background-image: url("images/standard/avatar_box.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.player__avatar.player--turn {
  border: none;
  background-image: url("images/standard/avatar_box_turn.svg");
}
.player__avatar.player--spectating {
  border: none;
  background-image: url("images/standard/avatar_box_spectating.svg");
}
.player__avatar.player--me {
  border: none;
  background-image: url("images/standard/avatar_box_me.svg");
}
.player__avatar.player--ready {
  border: none;
  background-image: url("images/standard/avatar_box_ready.svg");
}
.player__avatar.player--me.player--turn {
  border: none;
  background-image: url("images/standard/avatar_box_me_turn.svg");
}

.chat__box {
  background-image: url("images/standard/chat_box.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  position: relative;
}
.chat__box > *:nth-child(1) {
  position: absolute;
  top: 8%;
  bottom: 12%;
  left: 7%;
  right: 9%;
  height: auto !important;
}

.config__help-text {
  color: #222 !important;
}

.modal__dialog-wrap.dialog--config .modal__dialog {
  height: 90%;
  width: 81vh;
  background-color: transparent;
  background-image: url("images/standard/game_config_panel.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  border: none;
  position: relative;
}
.modal__dialog-wrap.dialog--config .modal__dialog > *:nth-child(1) {
  position: absolute;
  top: 34%;
  bottom: 6%;
  left: 6%;
  right: 6%;
  height: auto !important;
}
.modal__dialog-wrap.dialog--config .modal__dialog .modal__dialog__content {
  padding: 0;
}

.modal__dialog-wrap.dialog--game-over .modal__dialog {
  background-color: transparent;
  border: none;
}
.modal__dialog-wrap.dialog--game-over .modal__dialog .modal__dialog__content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}
.modal__dialog-wrap.dialog--game-over .modal__dialog .game__over__actions {
  margin-top: 3em;
}
.modal__dialog-wrap.dialog--game-over .modal__dialog .game__over__reason {
  flex: 1;
  background-image: url("images/standard/game_over_tie.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.modal__dialog-wrap.dialog--game-over .modal__dialog .game__over__reason > * {
  display: none;
}
.modal__dialog-wrap.dialog--game-over .modal__dialog .game__over__reason.game__over__reason--my-win {
  background-image: url("images/standard/game_over_win.svg");
}
.modal__dialog-wrap.dialog--game-over .modal__dialog .game__over__reason.game__over__reason--my-loss {
  background-image: url("images/standard/game_over_loss.svg");
}
.modal__dialog-wrap.dialog--game-over .modal__dialog .game__over__reason.game__over__reason--tie {
  background-image: url("images/standard/game_over_tie.svg");
}

/* customize scrollbar css */
*::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
*::-webkit-scrollbar:horizontal {
  height: 12px;
}
*::-webkit-scrollbar-track {
  background-color: #083a4f;
  border: none;
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb {
  background-color: #277EBC;
  border: none;
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #1386b5;
  border: none;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #005c82;
  border: none;
}

.btn.btn-primary, .btn.btn-secondary {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  line-height: 1em;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58;
}
.btn.btn-primary.btn-lg, .btn.btn-secondary.btn-lg {
  font-size: 300%;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, -3px -3px 0 #192E58, -2px -3px 0 #192E58, -1px -3px 0 #192E58, 0px -3px 0 #192E58, 1px -3px 0 #192E58, 2px -3px 0 #192E58, 3px -3px 0 #192E58, -3px -2px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, 3px -2px 0 #192E58, -3px -1px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, 3px -1px 0 #192E58, -3px 0px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, 3px 0px 0 #192E58, -3px 1px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, 3px 1px 0 #192E58, -3px 2px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, 3px 2px 0 #192E58, -3px 3px 0 #192E58, -2px 3px 0 #192E58, -1px 3px 0 #192E58, 0px 3px 0 #192E58, 1px 3px 0 #192E58, 2px 3px 0 #192E58, 3px 3px 0 #192E58, -4px -4px 0 #192E58, -3px -4px 0 #192E58, -2px -4px 0 #192E58, -1px -4px 0 #192E58, 0px -4px 0 #192E58, 1px -4px 0 #192E58, 2px -4px 0 #192E58, 3px -4px 0 #192E58, 4px -4px 0 #192E58, -4px -3px 0 #192E58, -3px -3px 0 #192E58, -2px -3px 0 #192E58, -1px -3px 0 #192E58, 0px -3px 0 #192E58, 1px -3px 0 #192E58, 2px -3px 0 #192E58, 3px -3px 0 #192E58, 4px -3px 0 #192E58, -4px -2px 0 #192E58, -3px -2px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, 3px -2px 0 #192E58, 4px -2px 0 #192E58, -4px -1px 0 #192E58, -3px -1px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, 3px -1px 0 #192E58, 4px -1px 0 #192E58, -4px 0px 0 #192E58, -3px 0px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, 3px 0px 0 #192E58, 4px 0px 0 #192E58, -4px 1px 0 #192E58, -3px 1px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, 3px 1px 0 #192E58, 4px 1px 0 #192E58, -4px 2px 0 #192E58, -3px 2px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, 3px 2px 0 #192E58, 4px 2px 0 #192E58, -4px 3px 0 #192E58, -3px 3px 0 #192E58, -2px 3px 0 #192E58, -1px 3px 0 #192E58, 0px 3px 0 #192E58, 1px 3px 0 #192E58, 2px 3px 0 #192E58, 3px 3px 0 #192E58, 4px 3px 0 #192E58, -4px 4px 0 #192E58, -3px 4px 0 #192E58, -2px 4px 0 #192E58, -1px 4px 0 #192E58, 0px 4px 0 #192E58, 1px 4px 0 #192E58, 2px 4px 0 #192E58, 3px 4px 0 #192E58, 4px 4px 0 #192E58;
}
.btn.btn-primary.btn-primary, .btn.btn-secondary.btn-primary {
  color: #b1ed58;
}
.btn.btn-primary.btn-primary:not(:disabled):hover, .btn.btn-primary.btn-primary:not(:disabled):active, .btn.btn-secondary.btn-primary:not(:disabled):hover, .btn.btn-secondary.btn-primary:not(:disabled):active {
  color: #dcf7b4;
}
.btn.btn-primary.btn-secondary, .btn.btn-secondary.btn-secondary {
  color: #95a5a6;
}
.btn.btn-primary.btn-secondary:not(:disabled):hover, .btn.btn-primary.btn-secondary:not(:disabled):active, .btn.btn-secondary.btn-secondary:not(:disabled):hover, .btn.btn-secondary.btn-secondary:not(:disabled):active {
  color: #ccd4d5;
}
.btn.btn-icon {
  background: #FFF !important;
  border: #192E58 8px solid !important;
  box-shadow: 0px 8px 0 rgba(25, 46, 88, 0.8) !important;
  border-radius: 50%;
  font-size: 3em;
  line-height: 1em;
  padding: 8px;
  width: 1.75em;
  height: 1.75em;
  text-align: center;
}
.btn.btn-icon.btn-config {
  color: #5656d3;
}
.btn.btn-icon.btn-stats {
  color: #b8b867;
}
.btn.btn-icon.btn-help {
  color: grey;
}
.btn.btn-icon:not(:disabled):hover, .btn.btn-icon:not(:disabled):active {
  color: #3058a7 !important;
  border-color: #3058a7 !important;
  box-shadow: 0px 8px 0 rgba(48, 88, 167, 0.8) !important;
}

.modal-content {
  background: transparent;
  border: none;
}

.modal-header {
  border: none;
}
.modal-header .modal-title, .modal-header .close {
  text-shadow: 0 0 0 transparent, -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 1px 0px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000, -2px -2px 0 #000, -1px -2px 0 #000, 0px -2px 0 #000, 1px -2px 0 #000, 2px -2px 0 #000, -2px -1px 0 #000, -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, 2px -1px 0 #000, -2px 0px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 1px 0px 0 #000, 2px 0px 0 #000, -2px 1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000, 2px 1px 0 #000, -2px 2px 0 #000, -1px 2px 0 #000, 0px 2px 0 #000, 1px 2px 0 #000, 2px 2px 0 #000;
  color: #FFF;
  font-size: 2rem;
}

.modal-body {
  background: #3fa6dd;
  border: 8px solid #192E58;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 50% 32px;
  border-bottom-right-radius: 50% 32px;
  padding-bottom: 32px;
}

.modal-footer {
  border: none;
  margin-top: -32px;
  padding: 0;
  z-index: 1;
}

.modal-dialog.modal-dialog--config .modal-header {
  background-image: url("images/standard/game_config_panel_stripped.svg");
  background-size: 100% 243%;
  height: 160px;
}
.modal-dialog.modal-dialog--config .modal-body {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}