@import "_mixins";

// Variables
$backgroundColor: #192E58;
$panelBackgroundColor: rgb(63,166,221);
$panelBorderColor: rgb(35,127,190);
$btnPrimaryColor: #b1ed58;
$btnSecondaryColor: #95a5a6;

// Default fonts
button, h1, h2, h3, h4, h5, h6, label, .input-group-text {
    font-family: 'Luckiest Guy', sans-serif;
}

.game-information {
    font-family: 'Fredoka One', sans-serif;
    font-weight: normal;
}

body {
    background-color: $backgroundColor;
    overflow: hidden;
}

/*
#app {
    background-image: url('images/standard/background.svg');
    background-repeat: no-repeat;
    background-size: 98% 98%;
    background-position: center center;

    @include padChild(4%,4%,4%,4%);
}
*/

#app {
    border-radius: 32px;
    border: 16px solid $panelBorderColor;
    margin: 8px 16px;
    height: calc(100% - 16px) !important;

    @function appendLinearGradient($list, $deg, $start, $stop, $color) {
        @return append($list, linear-gradient($deg, transparent 0, transparent $start, $color $start, $color $stop, transparent $stop), comma);
    }
    
    $background: ();

    $waffleColor: rgb(39,152,204);
    $waffleBorder: rgb(61,173,221);
    $background: appendLinearGradient($background, 180deg, 48px, 58px, $waffleColor);
    $background: appendLinearGradient($background, 90deg, 48px, 58px, $waffleColor);
    $background: appendLinearGradient($background, 180deg, 46px, 48px, $waffleBorder);
    $background: appendLinearGradient($background, 90deg, 46px, 48px, $waffleBorder);
    $background: appendLinearGradient($background, 180deg, 58px, 60px, $waffleBorder);
    $background: appendLinearGradient($background, 90deg, 58px, 60px, $waffleBorder);
    $background: append($background, $panelBackgroundColor, comma);
    
    background: $background;

    background-size: 60px 60px;
    background-position: center center;

    padding: 8px;
}

#app-content {
    position: relative;
    overflow: hidden !important;

    &:before {        
        @include hardware;

        content: "";
        position: absolute;
        height: 300%;
        width: 300%;
        background: linear-gradient(
            transparent 45%, 
            rgba(255, 255, 255, 0.05) 45%,  
            rgba(255, 255, 255, 0.05) 50%, 
            transparent 50%,
            
            transparent 52%, 
            rgba(255, 255, 255, 0.05) 52%,  
            rgba(255, 255, 255, 0.05) 53%, 
            transparent 53%
        );
        transform: rotate(-45deg);

        transition: left,top linear 2s;

        top: -140%;
        left: -120%;
        @keyframes shine {
            0% { left: -200%; top: -200%; }
            50% { left: -30%; top: -30%; }
            51% { left: -200%; top: -200%; }
            100% { left: -120%; top: -140%; }
        }

        animation: shine 5s 1 ease-out;
    }
}

.game__wrap {
    background-image: url('images/standard/game_panel_background.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include padChild(7%,7%,7%,7%);
}

.btn[class*="btn-outline-"] {
    background-color: transparent;
    background-image: url('images/standard/button_full.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    box-shadow: none !important;

    &:hover:not(:disabled) {
        background-color: transparent;
        background-image: url('images/standard/button_full_hover.svg');
    }

    &:active {
        background-color: transparent;
        background-image: url('images/standard/button_full_active.svg');
    }
}

.player__avatars__box {
    background-image: url('images/standard/avatar_panel.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.5em 1.5em;
}
.player__avatar {
    background-image: url('images/standard/avatar_box.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    &.player--turn { border: none; background-image: url('images/standard/avatar_box_turn.svg'); }
    &.player--spectating { border: none; background-image: url('images/standard/avatar_box_spectating.svg'); }
    &.player--me { border: none; background-image: url('images/standard/avatar_box_me.svg'); }
    &.player--ready { border: none; background-image: url('images/standard/avatar_box_ready.svg'); }
    &.player--me.player--turn { border: none; background-image: url('images/standard/avatar_box_me_turn.svg'); }
}

.chat__box {
    background-image: url('images/standard/chat_box.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    @include padChild(8%,12%,7%,9%);
}

.config__help-text {
    color: #222 !important;
}

.modal__dialog-wrap.dialog--game-over {
    .modal__dialog {
        background-color: transparent;
        border: none;

        .modal__dialog__content {
            height: 100%;
            display: flex;
            flex-flow: column nowrap;
            padding: 0;
        }

        .game__over__actions {
            margin-top: 3em;
        }

        .game__over__reason {
            flex: 1;
            background-image: url('images/standard/game_over_tie.svg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center center;

            & > * { display: none; }

            &.game__over__reason--my-win {
                background-image: url('images/standard/game_over_win.svg');
            }

            &.game__over__reason--my-loss {
                background-image: url('images/standard/game_over_loss.svg');
            }

            &.game__over__reason--tie {
                background-image: url('images/standard/game_over_tie.svg');
            }
        }
    }
}

/* customize scrollbar css */
* {
    &::-webkit-scrollbar {
        width: 12px;
        background-color: transparent;
    }

    &::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: #083a4f;
        border: none;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #277EBC;
        border: none;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #1386b5;
        border: none;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #005c82;
        border: none;
    }
}

// Secondary styling
.input-group {
    border: 4px solid $backgroundColor;
    border-radius: 4px;

    input {
        box-shadow: none !important;
    }
    .input-group-text {
        background-color: $panelBackgroundColor;
        color: #FFF;
        border: none;
        @include stroke(2, $backgroundColor);
    }
}

.btn {
    &.btn-primary,&.btn-secondary {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;

        line-height: 1em;
        padding-top: 0;
        padding-bottom: 0;

        @include stroke(2, $backgroundColor);

        &.btn-lg {
            font-size: 300%;
            @include stroke(4, $backgroundColor);
        }

        &.btn-primary {
            color: $btnPrimaryColor;
            
            &:not(:disabled) {
                &:hover, &:active {
                    color: lighten($color: $btnPrimaryColor, $amount: 20%);
                }
            }
        }

        &.btn-secondary {
            color: $btnSecondaryColor;
            
            &:not(:disabled) {
                &:hover, &:active {
                    color: lighten($color: $btnSecondaryColor, $amount: 20%);
                }
            }
        }
    }
    &.btn-icon {
        background: #FFF !important;
        border: $backgroundColor 8px solid !important;
        box-shadow: 0px 8px 0 transparentize($color: $backgroundColor, $amount: 0.2) !important;

        border-radius: 50%;
        font-size: 3em;
        line-height: 1em;
        padding: 8px;

        width: 1.75em; height: 1.75em;
        text-align: center;

        &.btn-config {
            color: rgb(86, 86, 211);
        }
        &.btn-stats {
            color: rgb(184, 184, 103);
        }
        &.btn-help {
            color: grey;
        }

        &:not(:disabled) {
            &:hover, &:active {
                $color: lighten($color: $backgroundColor, $amount: 20%);
    
                color: $color !important;
                border-color: $color !important;
                box-shadow: 0px 8px 0 transparentize($color: $color, $amount: 0.2) !important;
            }
        }
    }
}

.modal-content {
    background: transparent;
    border: none;
}
.modal-header {
    border: none;
    
    .modal-title, .close {
        @include stroke(2,#000);
        color: #FFF;
        font-size: 2rem;
    }
}
.modal-body {
    background: $panelBackgroundColor;
    border: 8px solid $backgroundColor;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 50% 32px;
    border-bottom-right-radius: 50% 32px;

    padding-bottom: 32px;
}
.modal-footer {
    border: none;
    margin-top: -32px;
    padding: 0;
    z-index: 1;
}

.modal-dialog.modal-dialog--config {
    .modal-header {
        background-image: url('images/standard/game_config_panel_stripped.svg');
        background-size: 100% 243%;
        height: 160px;
    }
    .modal-body {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}