button, h1, h2, h3, h4, h5, h6, label, .input-group-text {
  font-family: "Luckiest Guy", sans-serif;
}

.game-information {
  font-family: "Fredoka One", sans-serif;
  font-weight: normal;
}

body {
  background-color: #192E58;
  overflow: hidden;
}

#app {
  border-radius: 32px;
  border: 16px solid #1b75ba;
  margin: 8px 16px;
  height: calc(100% - 16px) !important;
  background: linear-gradient(180deg, transparent 0, transparent 48px, #2798cc 48px, #2798cc 58px, transparent 58px), linear-gradient(90deg, transparent 0, transparent 48px, #2798cc 48px, #2798cc 58px, transparent 58px), linear-gradient(180deg, transparent 0, transparent 46px, #3daddd 46px, #3daddd 48px, transparent 48px), linear-gradient(90deg, transparent 0, transparent 46px, #3daddd 46px, #3daddd 48px, transparent 48px), linear-gradient(180deg, transparent 0, transparent 58px, #3daddd 58px, #3daddd 60px, transparent 60px), linear-gradient(90deg, transparent 0, transparent 58px, #3daddd 58px, #3daddd 60px, transparent 60px), #3fa6dd;
  background-size: 60px 60px;
  background-position: center center;
  padding: 8px;
}

#app-content {
  position: relative;
  overflow: hidden !important;
}
#app-content:before {
  backface-visibility: hidden;
  perspective: 1000;
  content: "";
  position: absolute;
  height: 300%;
  width: 300%;
  background: linear-gradient(transparent 45%, rgba(255, 255, 255, 0.05) 45%, rgba(255, 255, 255, 0.05) 50%, transparent 50%, transparent 52%, rgba(255, 255, 255, 0.05) 52%, rgba(255, 255, 255, 0.05) 53%, transparent 53%);
  transform: rotate(-45deg);
  transition: left, top linear 2s;
  top: -140%;
  left: -120%;
  animation: shine 5s 1 ease-out;
}
@keyframes shine {
  0% {
    left: -200%;
    top: -200%;
  }
  50% {
    left: -30%;
    top: -30%;
  }
  51% {
    left: -200%;
    top: -200%;
  }
  100% {
    left: -120%;
    top: -140%;
  }
}

.game__wrap {
  background-image: url("images/standard/game_panel_background.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.game__wrap > * {
  position: absolute;
  top: 6.8%;
  bottom: 6.8%;
  left: 10%;
  right: 9.6%;
  height: auto !important;
}

.btn[class*=btn-outline-] {
  background-color: transparent;
  background-image: url("images/standard/button_full.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}
.btn[class*=btn-outline-]:hover:not(:disabled) {
  background-color: transparent;
  background-image: url("images/standard/button_full_hover.svg");
}
.btn[class*=btn-outline-]:active {
  background-color: transparent;
  background-image: url("images/standard/button_full_active.svg");
}

.config__help-text {
  color: #222 !important;
}

/* customize scrollbar css */
*::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
*::-webkit-scrollbar:horizontal {
  height: 12px;
}
*::-webkit-scrollbar-track {
  background-color: #083a4f;
  border: none;
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb {
  background-color: #277EBC;
  border: none;
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #1386b5;
  border: none;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #005c82;
  border: none;
}

h1 {
  text-shadow: 0 0 0 transparent, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, -3px -3px 0 #192E58, -2px -3px 0 #192E58, -1px -3px 0 #192E58, 0px -3px 0 #192E58, 1px -3px 0 #192E58, 2px -3px 0 #192E58, 3px -3px 0 #192E58, -3px -2px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, 3px -2px 0 #192E58, -3px -1px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, 3px -1px 0 #192E58, -3px 0px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, 3px 0px 0 #192E58, -3px 1px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, 3px 1px 0 #192E58, -3px 2px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, 3px 2px 0 #192E58, -3px 3px 0 #192E58, -2px 3px 0 #192E58, -1px 3px 0 #192E58, 0px 3px 0 #192E58, 1px 3px 0 #192E58, 2px 3px 0 #192E58, 3px 3px 0 #192E58, -4px -4px 0 #192E58, -3px -4px 0 #192E58, -2px -4px 0 #192E58, -1px -4px 0 #192E58, 0px -4px 0 #192E58, 1px -4px 0 #192E58, 2px -4px 0 #192E58, 3px -4px 0 #192E58, 4px -4px 0 #192E58, -4px -3px 0 #192E58, -3px -3px 0 #192E58, -2px -3px 0 #192E58, -1px -3px 0 #192E58, 0px -3px 0 #192E58, 1px -3px 0 #192E58, 2px -3px 0 #192E58, 3px -3px 0 #192E58, 4px -3px 0 #192E58, -4px -2px 0 #192E58, -3px -2px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, 3px -2px 0 #192E58, 4px -2px 0 #192E58, -4px -1px 0 #192E58, -3px -1px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, 3px -1px 0 #192E58, 4px -1px 0 #192E58, -4px 0px 0 #192E58, -3px 0px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, 3px 0px 0 #192E58, 4px 0px 0 #192E58, -4px 1px 0 #192E58, -3px 1px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, 3px 1px 0 #192E58, 4px 1px 0 #192E58, -4px 2px 0 #192E58, -3px 2px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, 3px 2px 0 #192E58, 4px 2px 0 #192E58, -4px 3px 0 #192E58, -3px 3px 0 #192E58, -2px 3px 0 #192E58, -1px 3px 0 #192E58, 0px 3px 0 #192E58, 1px 3px 0 #192E58, 2px 3px 0 #192E58, 3px 3px 0 #192E58, 4px 3px 0 #192E58, -4px 4px 0 #192E58, -3px 4px 0 #192E58, -2px 4px 0 #192E58, -1px 4px 0 #192E58, 0px 4px 0 #192E58, 1px 4px 0 #192E58, 2px 4px 0 #192E58, 3px 4px 0 #192E58, 4px 4px 0 #192E58;
  color: #FFF;
}

.input-group {
  border: 4px solid #192E58;
  border-radius: 4px;
}
.input-group input {
  box-shadow: none !important;
}
.input-group .input-group-text {
  background-color: #3fa6dd;
  color: #FFF;
  border: none;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58;
}

.btn.btn-primary, .btn.btn-secondary {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  line-height: 1em;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58;
}
.btn.btn-primary.btn-lg, .btn.btn-secondary.btn-lg {
  font-size: 300%;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, -3px -3px 0 #192E58, -2px -3px 0 #192E58, -1px -3px 0 #192E58, 0px -3px 0 #192E58, 1px -3px 0 #192E58, 2px -3px 0 #192E58, 3px -3px 0 #192E58, -3px -2px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, 3px -2px 0 #192E58, -3px -1px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, 3px -1px 0 #192E58, -3px 0px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, 3px 0px 0 #192E58, -3px 1px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, 3px 1px 0 #192E58, -3px 2px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, 3px 2px 0 #192E58, -3px 3px 0 #192E58, -2px 3px 0 #192E58, -1px 3px 0 #192E58, 0px 3px 0 #192E58, 1px 3px 0 #192E58, 2px 3px 0 #192E58, 3px 3px 0 #192E58, -4px -4px 0 #192E58, -3px -4px 0 #192E58, -2px -4px 0 #192E58, -1px -4px 0 #192E58, 0px -4px 0 #192E58, 1px -4px 0 #192E58, 2px -4px 0 #192E58, 3px -4px 0 #192E58, 4px -4px 0 #192E58, -4px -3px 0 #192E58, -3px -3px 0 #192E58, -2px -3px 0 #192E58, -1px -3px 0 #192E58, 0px -3px 0 #192E58, 1px -3px 0 #192E58, 2px -3px 0 #192E58, 3px -3px 0 #192E58, 4px -3px 0 #192E58, -4px -2px 0 #192E58, -3px -2px 0 #192E58, -2px -2px 0 #192E58, -1px -2px 0 #192E58, 0px -2px 0 #192E58, 1px -2px 0 #192E58, 2px -2px 0 #192E58, 3px -2px 0 #192E58, 4px -2px 0 #192E58, -4px -1px 0 #192E58, -3px -1px 0 #192E58, -2px -1px 0 #192E58, -1px -1px 0 #192E58, 0px -1px 0 #192E58, 1px -1px 0 #192E58, 2px -1px 0 #192E58, 3px -1px 0 #192E58, 4px -1px 0 #192E58, -4px 0px 0 #192E58, -3px 0px 0 #192E58, -2px 0px 0 #192E58, -1px 0px 0 #192E58, 0px 0px 0 #192E58, 1px 0px 0 #192E58, 2px 0px 0 #192E58, 3px 0px 0 #192E58, 4px 0px 0 #192E58, -4px 1px 0 #192E58, -3px 1px 0 #192E58, -2px 1px 0 #192E58, -1px 1px 0 #192E58, 0px 1px 0 #192E58, 1px 1px 0 #192E58, 2px 1px 0 #192E58, 3px 1px 0 #192E58, 4px 1px 0 #192E58, -4px 2px 0 #192E58, -3px 2px 0 #192E58, -2px 2px 0 #192E58, -1px 2px 0 #192E58, 0px 2px 0 #192E58, 1px 2px 0 #192E58, 2px 2px 0 #192E58, 3px 2px 0 #192E58, 4px 2px 0 #192E58, -4px 3px 0 #192E58, -3px 3px 0 #192E58, -2px 3px 0 #192E58, -1px 3px 0 #192E58, 0px 3px 0 #192E58, 1px 3px 0 #192E58, 2px 3px 0 #192E58, 3px 3px 0 #192E58, 4px 3px 0 #192E58, -4px 4px 0 #192E58, -3px 4px 0 #192E58, -2px 4px 0 #192E58, -1px 4px 0 #192E58, 0px 4px 0 #192E58, 1px 4px 0 #192E58, 2px 4px 0 #192E58, 3px 4px 0 #192E58, 4px 4px 0 #192E58;
}
.btn.btn-primary.btn-primary, .btn.btn-secondary.btn-primary {
  color: #b1ed58;
}
.btn.btn-primary.btn-primary:not(:disabled):hover, .btn.btn-primary.btn-primary:not(:disabled):active, .btn.btn-secondary.btn-primary:not(:disabled):hover, .btn.btn-secondary.btn-primary:not(:disabled):active {
  color: #dcf7b4;
}
.btn.btn-primary.btn-secondary, .btn.btn-secondary.btn-secondary {
  color: #95a5a6;
}
.btn.btn-primary.btn-secondary:not(:disabled):hover, .btn.btn-primary.btn-secondary:not(:disabled):active, .btn.btn-secondary.btn-secondary:not(:disabled):hover, .btn.btn-secondary.btn-secondary:not(:disabled):active {
  color: #ccd4d5;
}
.btn.btn-icon {
  background: #FFF !important;
  border: #192E58 8px solid !important;
  box-shadow: 0px 8px 0 rgba(25, 46, 88, 0.8) !important;
  border-radius: 50%;
  font-size: 3em;
  line-height: 1em;
  padding: 8px;
  width: 1.75em;
  height: 1.75em;
  text-align: center;
}
.btn.btn-icon.btn-config > i {
  display: block;
  background-image: url("images/standard/icons/cog.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-config > i:before {
  content: "";
}
.btn.btn-icon.btn-stats > i {
  display: block;
  background-image: url("images/standard/icons/trophy.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-stats > i:before {
  content: "";
}
.btn.btn-icon.btn-help > i {
  display: block;
  background-image: url("images/standard/icons/questionmark.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-help > i:before {
  content: "";
}
.btn.btn-icon.btn-puzzle-piece > i {
  display: block;
  background-image: url("images/standard/icons/piecepicker.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-puzzle-piece > i:before {
  content: "";
}
.btn.btn-icon.btn-face {
  background-color: #b1ed58 !important;
}
.btn.btn-icon.btn-face > i {
  display: block;
  background-image: url("images/standard/icons/face.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-face > i:before {
  content: "";
}
.btn.btn-icon.btn-color-wheel > i {
  display: block;
  background-image: url("images/standard/icons/colorpicker.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-color-wheel > i:before {
  content: "";
}
.btn.btn-icon.btn-refresh > i {
  display: block;
  background-image: url("images/standard/icons/refresh.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-refresh > i:before {
  content: "";
}
.btn.btn-icon.btn-cancel > i {
  display: block;
  background-image: url("images/standard/icons/cancel.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-cancel > i:before {
  content: "";
}
.btn.btn-icon.btn-icon--populated > i {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.btn.btn-icon.btn-icon--populated > i:before {
  content: "";
}
.btn.btn-icon:not(:disabled):hover, .btn.btn-icon:not(:disabled):active {
  color: #3058a7 !important;
  border-color: #3058a7 !important;
  box-shadow: 0px 8px 0 rgba(48, 88, 167, 0.8) !important;
}

.customization__item {
  position: relative;
}
.customization__item.customization__item--locked {
  opacity: 1;
  border-color: #A0A0A0 !important;
}
.customization__item.customization__item--locked:after {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='lock' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' class='svg-inline--fa fa-lock fa-w-14 fa-3x'%3E%3Cpath fill='A0A0A0' d='M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75% 75%;
  opacity: 0.5;
}

.turn__tracker__header {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("images/standard/turn_tracker_background.svg");
  height: 80px;
  margin-bottom: -30px;
  position: relative;
}
.turn__tracker__header h1 {
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 26px;
  transform: rotate(-3deg);
}

.avatar__box {
  background: radial-gradient(ellipse at center top, #FFF 0%, #FFF 25%, #ebf9fe 25%), #ebf9fe;
  background-size: 500% 200%;
  background-position: center top;
  background-repeat: no-repeat;
  border: 8px solid #192E58;
  border-top-left-radius: 15% 50%;
  border-top-right-radius: 15% 50%;
  border-bottom-left-radius: 15% 50%;
  border-bottom-right-radius: 15% 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 4px inset #1b75ba, 0px 8px 0 rgba(25, 46, 88, 0.8);
}
.avatar__box .avatar {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
}
.avatar__box.avatar__box--spectating {
  box-shadow: 0px 0px 0px 4px inset #7f8c8d, 0px 8px 0 rgba(25, 46, 88, 0.8);
}
.avatar__box.avatar__box--turn {
  box-shadow: 0px 0px 0px 4px inset #e74c3c, 0px 8px 0 rgba(25, 46, 88, 0.8);
}
.avatar__box.avatar__box--ready {
  box-shadow: 0px 0px 0px 4px inset #e67e22, 0px 8px 0 rgba(25, 46, 88, 0.8);
}
.avatar__box.avatar__box--me {
  box-shadow: 0px 0px 0px 4px inset #8e44ad, 0px 8px 0 rgba(25, 46, 88, 0.8);
}
.avatar__box.avatar__box--me.avatar__box--turn {
  box-shadow: 0px 0px 0px 4px inset #27ae60, 0px 8px 0 rgba(25, 46, 88, 0.8);
}
.avatar__box .player__avatar__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%);
  font-size: 8px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: clip;
  background: transparent;
  opacity: 0.65;
  color: #FFF;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 1px 0px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000, -2px -2px 0 #000, -1px -2px 0 #000, 0px -2px 0 #000, 1px -2px 0 #000, 2px -2px 0 #000, -2px -1px 0 #000, -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, 2px -1px 0 #000, -2px 0px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 1px 0px 0 #000, 2px 0px 0 #000, -2px 1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000, 2px 1px 0 #000, -2px 2px 0 #000, -1px 2px 0 #000, 0px 2px 0 #000, 1px 2px 0 #000, 2px 2px 0 #000;
}
.avatar__box .player__avatar__stats .fa-cross {
  background-image: url("images/standard/icons/skulllose.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.avatar__box .player__avatar__stats .fa-cross:before {
  content: "";
}
.avatar__box .player__avatar__stats .fa-trophy {
  background-image: url("images/standard/icons/trophy.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
}
.avatar__box .player__avatar__stats .fa-trophy:before {
  content: "";
}

.chat__message, .chat__message-name, .chat__message-message {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: normal !important;
  text-shadow: 0 0 0 transparent, -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 1px 0px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000;
}
.chat__message.dark, .chat__message-name.dark, .chat__message-message.dark {
  text-shadow: none !important;
}

.chat__box {
  background: radial-gradient(ellipse at center top, #FFF 0%, #FFF 25%, #ebf9fe 25%), #ebf9fe;
  background-size: 500% 200%;
  background-position: center top;
  background-repeat: no-repeat;
  border: 8px solid #192E58;
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 4px inset #1b75ba, 0px 8px 0 rgba(25, 46, 88, 0.8);
}
.chat__box .chat__messages {
  position: absolute;
  top: 4px;
  bottom: 24px;
  left: 5%;
  right: 5%;
  height: auto;
  padding: 0 4px;
}

.chat__entry {
  position: absolute;
  bottom: 0;
  left: 24px;
  right: 24px;
  background: #192E58;
  overflow: hidden;
  width: auto;
  margin: 0 !important;
}

.modal-content {
  background: transparent;
  border: none;
}

.modal-header {
  border: none;
}
.modal-header .modal-title, .modal-header .close {
  text-shadow: 0 0 0 transparent, -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 1px 0px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000, -2px -2px 0 #000, -1px -2px 0 #000, 0px -2px 0 #000, 1px -2px 0 #000, 2px -2px 0 #000, -2px -1px 0 #000, -1px -1px 0 #000, 0px -1px 0 #000, 1px -1px 0 #000, 2px -1px 0 #000, -2px 0px 0 #000, -1px 0px 0 #000, 0px 0px 0 #000, 1px 0px 0 #000, 2px 0px 0 #000, -2px 1px 0 #000, -1px 1px 0 #000, 0px 1px 0 #000, 1px 1px 0 #000, 2px 1px 0 #000, -2px 2px 0 #000, -1px 2px 0 #000, 0px 2px 0 #000, 1px 2px 0 #000, 2px 2px 0 #000;
  color: #FFF;
  font-size: 2rem;
}

.modal-body {
  background: #3fa6dd;
  border: 8px solid #192E58;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 50% 32px;
  border-bottom-right-radius: 50% 32px;
  padding-bottom: 32px;
}

.modal-footer {
  border: none;
  margin-top: -32px;
  padding: 0;
  z-index: 1;
}

.modal-dialog.modal-dialog--config .modal-header {
  background-image: url("images/standard/game_config_panel_stripped.svg");
  background-size: 100% 243%;
  height: 160px;
}
.modal-dialog.modal-dialog--config .modal-body {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal-dialog.modal-dialog--game-over .modal-body {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}
.modal-dialog.modal-dialog--game-over .modal-footer {
  margin: 0;
}
.modal-dialog.modal-dialog--game-over .game__over__reason {
  height: 50vh;
  background-image: url("images/standard/game_over_tie.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
.modal-dialog.modal-dialog--game-over .game__over__reason > * {
  display: none;
}
.modal-dialog.modal-dialog--game-over .game__over__reason.game__over__reason--my-win {
  background-image: url("images/standard/game_over_win.svg");
}
.modal-dialog.modal-dialog--game-over .game__over__reason.game__over__reason--my-loss {
  background-image: url("images/standard/game_over_loss.svg");
}
.modal-dialog.modal-dialog--game-over .game__over__reason.game__over__reason--tie {
  background-image: url("images/standard/game_over_tie.svg");
}

.picker-arrow .picker-arrow-content {
  display: none;
}
.picker-arrow.picker-arrow--left:after, .picker-arrow.picker-arrow--right:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("images/standard/right_arrow_border.svg") !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center center !important;
}
.picker-arrow.picker-arrow--left:after {
  transform: scaleX(-1);
}