@import "_variables";

.game__board {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: stretch;
}

.game__row {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: stretch;
    
    background: transparent;
    background-image: none !important;
    border-top: 1px solid #CCC;
    &:last-child { border-bottom: 1px solid #CCC;  }
}

.game__cell {
    position: relative;
    flex: 1;
    cursor: pointer;
    
    background: transparent;
    background-image: none !important;
    border-left: 1px solid #CCC;
    &:last-child { border-right: 1px solid #CCC; }

    .game__row:nth-child(2n+1) &:nth-child(2n),
    .game__row:nth-child(2n) &:nth-child(2n+1) { background-color: rgba(0,0,0,0.8); }

    &.game__cell--placable { box-shadow: 0 0 8px 8px inset $flat-belize-hole; }

    &.game__cell--can-promote {
        @keyframes pulse {
            0% { box-shadow: 0 0 8px 8px inset $flat-sunflower; }
            50% { box-shadow: 0 0 8px 8px inset $flat-pumpkin; }
            100% { box-shadow: 0 0 8px 8px inset $flat-sunflower; }
        }

        animation: pulse 2s infinite linear;
    }

    .chess__piece {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%,-50%);

        display: flex;
        flex-flow: row;
        align-items: center;
        text-align: center;
        z-index: 1; // zIndex so we don't appear behind cells

        & > i { flex: 1; }

        &.chess__piece--last-placed {
            @keyframes wiggle {
                0% {
                    transform: rotate(8deg);
                }
    
                50% {
                    transform: rotate(-8deg);
                }
    
                100% {
                    transform: rotate(8deg);
                }
            }

            & > i { animation: wiggle 0.5s infinite; }
        }
    }
}