html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#game-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-flow: column nowrap;
}

.game__wrap {
  display: flex;
  flex: 1;
}

.chat__box {
  border: 1px solid #E0E0E0;
  font-size: 0.75rem;
  height: 100%;
  padding: 0 0.25em;
}
.chat__box .chat__messages {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
.chat__box .chat__message .chat__message-name {
  font-weight: bold;
  margin-right: 0.25em;
  white-space: nowrap;
}
.chat__box .chat__message .chat__message-message {
  word-break: break-word;
}

.avatar__box {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px inset #E0E0E0;
}
.avatar__box .avatar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.avatar__box.avatar__box--spectating {
  box-shadow: 0px 0px 0px 2px inset #7f8c8d;
}
.avatar__box.avatar__box--turn {
  box-shadow: 0px 0px 0px 2px inset #e74c3c;
}
.avatar__box.avatar__box--ready {
  box-shadow: 0px 0px 0px 2px inset #e67e22;
}
.avatar__box.avatar__box--me {
  box-shadow: 0px 0px 0px 2px inset #8e44ad;
}
.avatar__box.avatar__box--me.avatar__box--turn {
  box-shadow: 0px 0px 0px 2px inset #27ae60;
}
.avatar__box .player__avatar__name {
  flex: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  padding: 0 2px;
  font-size: 8px;
  font-weight: bold;
  opacity: 0.65;
  background-color: #7f7f7f;
  white-space: nowrap;
  text-overflow: clip;
}
.avatar__box .player__avatar__stats {
  opacity: 0.8;
  cursor: pointer;
}

.logo__main {
  width: 100%;
  min-height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("images/logo.svg");
}
.logo__main:before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-top: 33%;
}

.avatar {
  text-align: center;
}

.avatar__piece-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}
.avatar__piece-wrap .avatar__piece-piece,
.avatar__piece-wrap .avatar__piece-piece-mask,
.avatar__piece-wrap .avatar__piece-face,
.avatar__piece-wrap .avatar__piece-accessory {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
}
.avatar__piece-wrap.avatar__piece-wrap--customizable {
  cursor: move;
}

.game__landing {
  backface-visibility: hidden;
  perspective: 1000;
  opacity: 0.7;
  transition: opacity ease-in-out 0.25s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.game__landing:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  #time-tracker {
    border-radius: 0.5em 0 0 0;
    margin: 0;
    padding: 0 0.5em;
    position: fixed !important;
    left: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    top: auto !important;
    z-index: 999;
    background-color: rgba(44, 62, 80, 0.85);
    color: #ecf0f1;
  }
  #time-tracker svg {
    fill: #ecf0f1;
  }

  #current-turn {
    border-radius: 0 0.5em 0 0;
    margin: 0;
    padding: 0 0.5em;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    right: auto !important;
    top: auto !important;
    z-index: 999;
    background-color: rgba(44, 62, 80, 0.85);
    color: #ecf0f1;
  }
  #current-turn svg {
    fill: #ecf0f1;
  }
}
/* Media queries to ensure the game board uses aspect ratio rendering if we get too tall */
@media (max-aspect-ratio: 1/1), (min-width: 768px) and (max-aspect-ratio: 9/6) {
  #game-panel {
    height: auto !important;
  }

  .game__wrap {
    flex: none !important;
  }
  .game__wrap::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 100%;
  }
  .game__wrap::after {
    content: "";
    display: table;
    clear: both;
  }
}
.text--border.light {
  text-shadow: 0 0 0 transparent, -0.025em -0.025em 0 rgba(0, 0, 0, 0.75), 0em -0.025em 0 rgba(0, 0, 0, 0.75), 0.025em -0.025em 0 rgba(0, 0, 0, 0.75), -0.025em 0em 0 rgba(0, 0, 0, 0.75), 0em 0em 0 rgba(0, 0, 0, 0.75), 0.025em 0em 0 rgba(0, 0, 0, 0.75), -0.025em 0.025em 0 rgba(0, 0, 0, 0.75), 0em 0.025em 0 rgba(0, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 0, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 0, 0.75), 0em -0.05em 0 rgba(0, 0, 0, 0.75), 0.025em -0.05em 0 rgba(0, 0, 0, 0.75), 0.05em -0.05em 0 rgba(0, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 0, 0, 0.75), 0em -0.025em 0 rgba(0, 0, 0, 0.75), 0.025em -0.025em 0 rgba(0, 0, 0, 0.75), 0.05em -0.025em 0 rgba(0, 0, 0, 0.75), -0.05em 0em 0 rgba(0, 0, 0, 0.75), -0.025em 0em 0 rgba(0, 0, 0, 0.75), 0em 0em 0 rgba(0, 0, 0, 0.75), 0.025em 0em 0 rgba(0, 0, 0, 0.75), 0.05em 0em 0 rgba(0, 0, 0, 0.75), -0.05em 0.025em 0 rgba(0, 0, 0, 0.75), -0.025em 0.025em 0 rgba(0, 0, 0, 0.75), 0em 0.025em 0 rgba(0, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 0, 0, 0.75), 0.05em 0.025em 0 rgba(0, 0, 0, 0.75), -0.05em 0.05em 0 rgba(0, 0, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 0, 0.75), 0em 0.05em 0 rgba(0, 0, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 0, 0.75), 0.05em 0.05em 0 rgba(0, 0, 0, 0.75);
}
.text--border.dark {
  text-shadow: 0 0 0 transparent, -0.025em -0.025em 0 rgba(255, 255, 255, 0.75), 0em -0.025em 0 rgba(255, 255, 255, 0.75), 0.025em -0.025em 0 rgba(255, 255, 255, 0.75), -0.025em 0em 0 rgba(255, 255, 255, 0.75), 0em 0em 0 rgba(255, 255, 255, 0.75), 0.025em 0em 0 rgba(255, 255, 255, 0.75), -0.025em 0.025em 0 rgba(255, 255, 255, 0.75), 0em 0.025em 0 rgba(255, 255, 255, 0.75), 0.025em 0.025em 0 rgba(255, 255, 255, 0.75), -0.05em -0.05em 0 rgba(255, 255, 255, 0.75), -0.025em -0.05em 0 rgba(255, 255, 255, 0.75), 0em -0.05em 0 rgba(255, 255, 255, 0.75), 0.025em -0.05em 0 rgba(255, 255, 255, 0.75), 0.05em -0.05em 0 rgba(255, 255, 255, 0.75), -0.05em -0.025em 0 rgba(255, 255, 255, 0.75), -0.025em -0.025em 0 rgba(255, 255, 255, 0.75), 0em -0.025em 0 rgba(255, 255, 255, 0.75), 0.025em -0.025em 0 rgba(255, 255, 255, 0.75), 0.05em -0.025em 0 rgba(255, 255, 255, 0.75), -0.05em 0em 0 rgba(255, 255, 255, 0.75), -0.025em 0em 0 rgba(255, 255, 255, 0.75), 0em 0em 0 rgba(255, 255, 255, 0.75), 0.025em 0em 0 rgba(255, 255, 255, 0.75), 0.05em 0em 0 rgba(255, 255, 255, 0.75), -0.05em 0.025em 0 rgba(255, 255, 255, 0.75), -0.025em 0.025em 0 rgba(255, 255, 255, 0.75), 0em 0.025em 0 rgba(255, 255, 255, 0.75), 0.025em 0.025em 0 rgba(255, 255, 255, 0.75), 0.05em 0.025em 0 rgba(255, 255, 255, 0.75), -0.05em 0.05em 0 rgba(255, 255, 255, 0.75), -0.025em 0.05em 0 rgba(255, 255, 255, 0.75), 0em 0.05em 0 rgba(255, 255, 255, 0.75), 0.025em 0.05em 0 rgba(255, 255, 255, 0.75), 0.05em 0.05em 0 rgba(255, 255, 255, 0.75);
}

.ratio-square:before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
}