<!DOCTYPE html>
<html class="h-100">
<head>
    <title>Omok Online</title>

    <!-- azure tracking, will probably get blocked by adblocker though so rip -->
    <script src="scripts/omok.tracking.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Fredoka+One&display=swap" rel="stylesheet">

    <link href="styles/main.min.css" rel="stylesheet" />
</head>
<body class="h-100">
    <div id="app" class="h-100">
        <div id="app-content" style="display: none;" v-show="true" class="h-100">
            <div class="container h-100 overflow-auto" v-if="!$root.isConnected && !$root.isConnecting">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="logo__main"></div>
                        
                        <form id="name-form" @submit.prevent class="mt-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend user-select-none" style="cursor: pointer;"
                                     @click="$root.player.name = $root.customization.generateName();">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                                </div>
                                <input type="text" class="form-control" v-model.trim="$root.player.name" maxlength="24" required v-focus />
                            </div>
                        </form>

                        <form @submit.prevent="$root.helpers.joinGame" class="mt-3">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Room</span>
                                </div>
                                <input type="text" class="form-control" v-model="$root.roomId" required maxlength="40" />
                            </div>

                            <button type="submit" class="btn btn-primary btn-block mt-3 btn-lg">Join Room</button>
                        </form>

                        <form @submit.prevent="$root.helpers.createGame" class="mt-3">
                            <button type="submit" class="btn btn-block btn-primary btn-lg">Create Room</button>
                        </form>

                        <div class="d-flex flex-row justify-content-between mt-3">
                            <div class="align-self-center">
                                <button type="button" class="btn btn-lg d-block mx-auto btn-icon btn-config" @click="$root.events.viewConfig()">
                                    <i class="fas fa-cog"></i>
                                </button>
                            </div>
                            <div class="align-self-center">
                                <button type="button" class="btn btn-lg d-block mx-auto btn-icon btn-stats" @click="$root.events.viewStats()">
                                    <i class="fas fa-trophy"></i>
                                </button>
                            </div>
                            <div class="align-self-center">
                                <button type="button" class="btn btn-lg d-block mx-auto btn-icon btn-help" @click="$root.events.viewHelp()">
                                    <i class="fas fa-question"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-3">
                        <hr class="d-block d-sm-block d-md-none d-lg-none d-xl-none" />
    
                        <div class="d-flex flex-row justify-content-between">
                            <template v-for="picker in [$root.customization.getCurrentPicker()]">
                                <div class="align-self-center">
                                    <button type="button" class="btn btn-icon"
                                            :class="picker.buttonClass"
                                            @dblclick="$root.customization[picker.id + 'Amount'] += 1; $root.customization.refreshPicker(picker.id);">
                                        <i :class="picker.iconClass"></i>
                                    </button>
                                </div>
                                <div class="align-self-center text-center">
                                    <h1>{{ picker.name }} Picker</h1>
                                </div>
                                <div class="align-self-center">
                                    <button type="button" class="btn btn-icon btn-refresh" @click="$root.customization.refreshPicker()">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                </div>
                            </template>
                        </div>

                        <div class="d-flex flex-columns align-content-center flex-wrap justify-content-between">
                            <div v-if="$root.customization.picker === 'piece'"
                                 v-for="(item, index) in $root.customization.availablePieces" 
                                 :class="'mt-3 order-' + Math.min(index,12)">

                                <button type="button" class="btn btn-icon btn-icon--populated customization__item"
                                        :class="{ 'customization__item--locked': !item.requirementsMet($root.player) }"
                                        :disabled="!item.requirementsMet($root.player)"
                                        :title="_lodash.map(item.requirementsNeeded($root.player), 'message').join('\n')"
                                        v-on="{ 'click': item.requirementsMet($root.player) ? function () { item.select($root.player); } : null }">
                                    <i style="float: left;" :style="{ 'mask-image': 'url(' + item.url + ')', '-webkit-mask-image': 'url(' + item.url + ')', 'background-color': $root.player.metadata.color, 'opacity': 0.5 }"></i>
                                    <i :style="{ 'background-image': 'url(' + item.url + ')' }"></i>
                                </button>
                            </div>
                            <div v-else-if="$root.customization.picker === 'face'"
                                 v-for="(item, index) in $root.customization.availableFaces"
                                 :class="'mt-3 order-' + Math.min(index + 1,12)">

                                <button type="button" class="btn btn-icon btn-icon--populated customization__item"
                                        :class="{ 'customization__item--locked': !item.requirementsMet($root.player) }"
                                        :disabled="!item.requirementsMet($root.player)"
                                        :title="_lodash.map(item.requirementsNeeded($root.player), 'message').join('\n')"
                                        v-on="{ 'click': item.requirementsMet($root.player) ? function () { item.select($root.player); } : null }">
                                    <i :style="{ 'background-image': 'url(' + item.url + ')' }"></i>
                                </button>
                            </div>
                            <div v-else-if="$root.customization.picker === 'accessory'"
                                 v-for="(item, index) in $root.customization.availableAccessories"
                                 :class="'mt-3 order-' + Math.min(index + 1,12)">

                                <button type="button" class="btn btn-icon btn-icon--populated customization__item"
                                        :class="{ 'customization__item--locked': !item.requirementsMet($root.player) }"
                                        :disabled="!item.requirementsMet($root.player)"
                                        :title="_lodash.map(item.requirementsNeeded($root.player), 'message').join('\n')"
                                        v-on="{ 'click': item.requirementsMet($root.player) ? function () { item.select($root.player); } : null }">
                                    <i :style="{ 'background-image': 'url(' + item.url + ')' }"></i>
                                </button>
                            </div>
                            <div v-else
                                 v-for="(item, index) in $root.customization.availableColors"
                                 :class="'mt-3 order-' + Math.min(index,12)">

                                 <button type="button" class="btn btn-icon"
                                         @click="$root.player.metadata.color = item;"
                                         :style="{ 'background-color': item + ' !important' }">
                                     
                                 </button>
                            </div>
                            
                            <div v-if="$root.customization.picker === 'face'"
                                 class="mt-3 order-0">

                                <button type="button" class="btn btn-icon btn-cancel"
                                        @click="$root.player.metadata.avatar.value.face = null;">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div v-else-if="$root.customization.picker === 'accessory'"
                                 class="mt-3 order-0">

                                <button type="button" class="btn btn-icon btn-cancel"
                                        @click="$root.player.metadata.avatar.value.accessory = null;">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>

                            <div class="order-2 mt-3 d-flex flex-row justify-content-center" style="width: 100%;">
                                <div class="align-self-center">
                                    <template v-for="picker in [$root.customization.getPickerAt(-1)]">
                                        <button @click="$root.customization.picker = picker.id;"
                                                type="button"
                                                class="btn btn-primary picker-arrow picker-arrow--left"
                                                style="position: relative; z-index: 1;">

                                            <div class="avatar__box ratio-square" style="width: 60px; position: absolute; opacity: 0.4; right: 60%; top: 50%; transform: translateY(-50%); z-index: -1;">
                                                <div type="button" class="btn btn-primary btn-icon" disabled style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; width: auto; height: auto; border: none !important; box-shadow: none !important;"
                                                     :class="picker.buttonClass">
                                                    <i :class="picker.iconClass"></i>
                                                </div>
                                            </div>
                                            <div class="picker-arrow-content">
                                                <i class="fas fa-caret-left"></i>
                                                {{ picker.name }}
                                            </div>
                                        </button>
                                    </template>
                                </div>
                                <div class="align-self-center">
                                    <div class="avatar__box ratio-square" style="width: 160px;">
                                        <div class="avatar" style="font-size: 100px; text-align: center; line-height: 144px;">
                                            <player-avatar :player="$root.player" customize="true"></player-avatar>
                                        </div>
                                    </div>
                                </div>
                                <div class="align-self-center">
                                    <template v-for="picker in [$root.customization.getPickerAt(1)]">
                                        <button @click="$root.customization.picker = picker.id;"
                                                type="button"
                                                class="btn btn-primary picker-arrow picker-arrow--right"
                                                style="position: relative; z-index: 1;">

                                            <div class="avatar__box ratio-square" style="width: 60px; position: absolute; opacity: 0.4; left: 60%; top: 50%; transform: translateY(-50%); z-index: -1;">
                                                <div type="button" class="btn btn-primary btn-icon" disabled style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; width: auto; height: auto; border: none !important; box-shadow: none !important;"
                                                     :class="picker.buttonClass">
                                                    <i :class="picker.iconClass"></i>
                                                </div>
                                            </div>
                                            <div class="picker-arrow-content">
                                                {{ picker.name }}
                                                <i class="fas fa-caret-right"></i>
                                            </div>
                                        </button>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3" v-if="$root.gameSelector.canChangeGame">
                    <div class="col-12 col-md-6">
                        <hr />
                        <button type="button" class="btn btn-secondary btn-block btn-lg"
                                @click="$root.gameSelector.changeGame">
                            Change Game
                        </button>
                    </div>
                </div>
            </div>
            <div class="container" v-else-if="$root.isConnecting">
                <div class="row">
                    <div class="col">
                        <label style="white-space: pre-wrap;">{{ $root.connectionStatus }}</label>
                    </div>
                </div>
            </div>
            <div class="container-md h-100 overflow-auto" v-else>
                <div class="row h-100">
                    <div id="game-panel" class="col-12 col-sm-12 col-md-8 col-lg-9 h-100">
                        <div class="game__wrap">
                            <game-panel></game-panel>

                            <div v-if="!$root.gameState.started"
                                 class="d-flex flex-column justify-content-center overflow-auto game__landing">
                                
                                <div class="align-self-center logo__main"></div>
                                
                                <div class="mt-3" style="white-space:nowrap;">
                                    <template v-if="$root.isHost">
                                        <button type="button" class="btn btn-primary btn-block btn-lg" @click="$root.events.startGame" v-bind:disabled="!$root.computed.anyReady">Start Game</button>
                                    </template>
                                    <template v-else>
                                        <button type="button" class="btn btn-primary btn-block btn-lg" v-if="!$root.player.isReady" @click="$root.events.toggleReady">Ready Up</button>
                                        <button type="button" class="btn btn-secondary btn-block btn-lg" v-else @click="$root.events.toggleReady">Un-Ready</button>
                                    </template>
                                </div>
                                
                                <div class="mt-3 align-self-center">
                                    <h1>
                                        Ready: 
                                        {{ _lodash.filter($root.players, { 'isReady': true, 'isHost': false, 'isDisconnected': false }).length + 1 }} / {{ _lodash.filter($root.players, { 'isDisconnected': false }).length }}
                                    </h1>
                                </div>

                                <div class="mt-3 align-self-center">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-sm">Room</span>
                                        </div>
                                        <input type="text" class="form-control" :value="$root.copyGameLinkText === 'Copied!' ? 'Copied!' : $root.roomId" disabled />
                                        <div class="input-group-append">
                                            <a class="btn btn-outline-dark" @click.prevent="$root.helpers.copyGameLink"
                                            :href="$root.helpers.getGameLink()" :title="$root.copyGameLinkText">

                                                <i class="fas fa-copy"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="setup-panel" class="col-12 col-sm-12 col-md-4 col-lg-3 h-100 overflow-auto" style="min-height: 400px;">
                        <div v-if="$root.isConnected" class="d-flex flex-column h-100">
                            <div id="current-turn" v-if="$root.computed.currentTurnPlayer" class="d-md-none d-lg-none d-xl-none game-information"
                                 :style="{ 'background-color': $root.gameState.currentTurn === $root.player.id ? '#27ae60' : null }">

                                <i class="fas fa-user"></i>
                                {{$root.computed.currentTurnPlayer.name}}
                            </div>

                            <div class="d-flex flex-row flex-nowrap mb-3 justify-content-end">
                                <button type="button" class="btn btn-outline-danger align-self-center ml-2"
                                        v-if="$root.gameState.started && $root.gameState.turnOrder.indexOf($root.player.id) > -1"
                                        :disabled="$root.gameState.turnOrder.length <= 1"
                                        @click="$root.events.startForfeit">
                                    Forfeit
                                </button>

                                <a class="btn btn-icon btn-copy btn-primary align-self-center ml-2"
                                        @click.prevent="$root.helpers.copyGameLink"
                                        style="height: 48px; width: 48px; font-size: 16px;"
                                        :href="$root.helpers.getGameLink()"
                                        :title="$root.copyGameLinkText">
                                    <i class="fas fa-copy"></i>
                                </a>
                                <button type="button" class="btn btn-icon btn-config btn-primary align-self-center ml-2" @click="$root.events.viewConfig()"
                                        style="height: 48px; width: 48px; font-size: 16px;"
                                        title="Config">
                                    <i class="fas fa-cog"></i>
                                </button>
                            </div>

                            <div class="">
                                <div class="player__avatars__box overflow-auto pb-2"
                                     style="position: relative;"
                                     @wheel.stop.prevent="$event.currentTarget.scrollLeft += $event.deltaY + $event.deltaX;">
                                     
                                    <div id="time-tracker" v-if="$root.gameState.turnTimeRemaining !== null" 
                                         class="game-information"
                                         style="position: absolute; top: 12px; right: 0;">
                                        <div style="float: left; position: relative; width: 16px; height: 16px;">
                                            <div style="position: absolute; top: 0; left: 0;">
                                                <fill-circle :percent="($root.gameState.turnTimeRemaining / $root.gameState.turnTime) * 100"
                                                            :color="($root.gameState.turnTimeRemaining / $root.gameState.turnTime) > 0.33 ? '#f39c12' : '#c0392b'"></fill-circle>
                                            </div>
                                            <div style="position: absolute; top: 0; left: 0;">
                                                <!-- https://www.flaticon.com/free-icon/clock_2088617?term=clock&page=1&position=2 -->
                                                <svg height="1em" viewBox="0 0 443.294 443.294" style="height: 1em;">
                                                    <path d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z" />
                                                    <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div style="display: inline-block; vertical-align: middle; margin-left: 0.5em;">
                                            {{$root.gameState.turnTimeRemaining}}s left
                                        </div>
                                    </div>

                                    <div class="turn__tracker__header">
                                        <h1>Turn</h1>
                                    </div>

                                    <div class="player__avatars d-flex flex-row justify-content-start flex-nowrap">
                                        <div v-for="(player, playerIndex) in $root.computed.playersSortedByImportance"
                                             :title="player.name"
                                             class="avatar__box ratio-square flex-grow-0 flex-shrink-0 align-self-end"
                                             :class="{
                                                'avatar__box--spectating': $root.gameState.started && !player.isPlaying,
                                                'avatar__box--ready': !$root.gameState.started && player.isReady,
                                                'avatar__box--turn': $root.gameState.currentTurn === player.id,
                                                'avatar__box--me': player.id === $root.player.id
                                             }"
                                             :style="{ width: (80 - (Math.min(playerIndex,2) * 8)) + 'px' }">

                                            <div class="avatar" 
                                                :style="{ 'font-size': (60 - (Math.min(playerIndex,2) * 8)) + 'px', 'font-size': (80 - (Math.min(playerIndex,2) * 8)) + 'px',  }">

                                                <player-avatar :player="player"></player-avatar>
                                            </div>                                            

                                            <span class="player__avatar__name">{{player.name}}</span>

                                            <div class="player__avatar__stats"
                                                style="position: absolute; top: 0; left: 50%; font-size: 12px; width: 12px; height: 12px; text-align: center; line-height: 12px; transform: translateX(-50%);"
                                                :title="'Wins: ' + player.metadata.gameStats.wins + ' (' + player.metadata.totalStats.wins + ' total)' + '\nLosses: ' + player.metadata.gameStats.losses + ' (' + player.metadata.totalStats.losses + ' total)'"
                                                @click="$root.events.viewStats(player.id);">
                                                
                                                <i v-if="player.metadata.gameStats.lastGameResult === 'win'" class="fas fa-crown" style="color: #f1c40f;"></i>
                                                <i v-else-if="player.metadata.gameStats.lastGameResult === 'loss'" class="fas fa-cross" style="color: #c0392b;"></i>
                                                <i v-else class="fas fa-trophy" style="color: #f1c40f;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3 mb-3 d-flex flex-column" style="flex: 1;">
                                <div class="chat__box" style="flex: 1; min-height: 150px;" id="chat-box">
                                    <div class="chat__messages" id="chat-messages">
                                        <div v-for="message in _lodash.takeRight($root.messages, 1000)" :key="message.created.getTime() + ' ' + message.message" v-bind:title="message.created" class="chat__message">
                                            <template v-for="player in [$root.helpers.getPlayer(message.playerId)]" :key="message.created">
                                                <span v-if="player.name" class="chat__message-name text--border" :style="{ 'color': player.metadata.color }" 
                                                      :class="{ 'light': $root.helpers.brightnessByColor(player.metadata.color) >= 200, 'dark': $root.helpers.brightnessByColor(player.metadata.color) < 200 }">
                                                    {{ player.name }}
                                                </span>
                                                <span class="chat__message-message text--border" :style="{ 'color': message.color }" 
                                                      :class="{ 'light': $root.helpers.brightnessByColor(message.color) >= 200, 'dark': $root.helpers.brightnessByColor(message.color) < 200 }">
                                                    {{ message.message }}
                                                </span>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <form @submit.prevent="$root.helpers.submitMyMessage" class="">
                                    <div class="input-group chat__entry mt-1">
                                        <input type="text" class="form-control" v-model.trim="$root.myMessage">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark" type="submit" title="Send message">
                                                <i class="fas fa-caret-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js" integrity="sha512-REb0S2epbS0XtS28ifNa1haxmTZigXjB+Tx5IHCvXZndWB2RL431Vt1qONzFoe0dPwA8WGow+xxkQwhVr44nRg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js" integrity="sha512-ALoawPS0JxHQ+8dGL7htZIlVNRaE/SN9gHD4G8pJJTi9H4BQ/3PjdvhggSGR34g00mvTPFkxQuveQUsJA5664Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js" integrity="sha512-USPCA7jmJHlCNRSFwUFq3lAm9SaOjwG8TaB8riqx3i/dAJqhaYilVnaf2eVUH5zjq89BU6YguUuAno+jpRvUqA==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js" integrity="sha512-hqwtOj6waHZZoLRoJoLn0tq34JS97tR1QmhM69uvyrt3LVBiR1o0xeOVAskjUFL1L1fahQH2W7IdcMaFbqCEaw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.js" integrity="sha512-rOS+dRWxckK6Ruh7+ybrHke9vr3WIqplzcu3Jg9C/BPxoEisNulj0kKjT9W6Byn/Gg817ENltr53/vWmA8GW6g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.7/chance.min.js" integrity="sha512-dELYIOEzIECWdvsEdoywFOB4qKDmtQee33yD0dQnzAE7eBGKJ984VQXRLs/vlsP4Sb3VchbQL7iAy4NWqetCsw==" crossorigin="anonymous"></script>

    <script src="scripts/helpers.js"></script>
    <script src="scripts/vue.helpers.js"></script>

    <!-- custom games swap these tag -->
    <!-- Alternatively used by ?game url parameter -->
    <script type="text/javascript">
        var app = app || {};

        app.gameName = new URLSearchParams(window.location.search).get('game') || 'omok';
        app.themeName = new URLSearchParams(window.location.search).get('theme') || 'standard';

        document.write('<link href="styles/theme-' + app.themeName + '.min.css" rel="stylesheet" />');

        document.write('<link href="styles/game-' + app.gameName + '.min.css" rel="stylesheet" />');
        document.write('<script src="scripts/game/' + app.gameName + '.js"><\/script>');
    </script>

    <!-- you need to change this URL to one that it hosting a copy of server-dotnet -->
    <script src="scripts/server.url.js"></script>

    <!-- customization config kept separate so it can be modified to your own needs without touching code -->
    <script src="scripts/customization-config.js"></script>
    <!-- game config kept separate so it can be modified to your own needs without touching code -->
    <script src="scripts/game-config.js"></script>

    <script src="scripts/main.js"></script>
</body>
</html>