body {

}

.connection__status {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 4px 8px;
    background: #F0F0F0;
    border-top-left-radius: 4px;
}

.chat__box {
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    font-size: .75rem;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}