#game-panel {

}

.game__board {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-flow: column nowrap;
    align-items: stretch;
}

.game__row {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: stretch;

    border-top: 1px solid #F0F0F0;
    &:last-child { border-bottom: 1px solid #F0F0F0; }
}

.game__cell {
    display: flex;
    flex: 1;

    cursor: pointer;
    min-height: 10px;
    min-width: 10px;
    
    border-left: 1px solid #F0F0F0;
    &:last-child { border-right: 1px solid #F0F0F0; }

    &.game__cell--owned {
        cursor: default;
    }
}