<!DOCTYPE html>
<html class="h-100">
<head>
    <title>Omok Online</title>

    <!-- azure tracking, will probably get blocked by adblocker though so rip -->
    <script src="scripts/omok.tracking.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Fredoka+One&display=swap" rel="stylesheet">

    <link href="styles/main.min.css" rel="stylesheet" />
    <link href="styles/standard-theme.min.css" rel="stylesheet" />
</head>
<body class="h-100">

    <div id="app" class="h-100">
        <div style="display: none;" v-show="true" class="h-100 overflow-auto">
            <div class="container h-100 overflow-auto" v-if="!$root.isConnected && !$root.isConnecting">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <form id="name-form" @submit.prevent>
                            <div class="input-group input-group-sm mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                                </div>
                                <input type="text" class="form-control" v-model="$root.player.name" maxlength="24" required v-focus />
                            </div>
                        </form>

                        <hr />

                        <form @submit.prevent="$root.helpers.joinGame">
                            <div class="input-group input-group-sm mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Room</span>
                                </div>
                                <input type="text" class="form-control" v-model="$root.roomId" required maxlength="40" />
                            </div>

                            <button type="submit" class="btn btn-outline-primary btn-block mt-3 btn-lg">Join Room</button>
                        </form>

                        <hr />

                        <form @submit.prevent="$root.helpers.createGame" class="mt-3">
                            <div class="d-flex flex-row">
                                <button type="submit" class="flex-fill btn btn-outline-primary btn-lg">Create</button>
                                <button type="button" class="flex-fill btn btn-outline-secondary btn-lg" @click="$root.viewGameConfig = !$root.viewGameConfig">Config</button>
                            </div>
                        </form>

                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                        <hr class="d-block d-sm-none d-md-none d-lg-none d-xl-none" />

                        <h3>Pick your piece</h3>

                        <div style="display: flex; flex-flow: row wrap; align-items: center;">
                            <button v-for="icon in $root.availableAvatarCssClasses"
                                    type="button"
                                    class="btn mb-3" style="flex: 1;  height: 2em; font-size: 2em; margin-left: 0.25em; margin-right: 0.25em;"
                                    :class="[
                                                { 'btn-outline-dark': $root.player.metadata.avatar.value !== icon.cssClass },
                                                { 'btn-dark': $root.player.metadata.avatar.value === icon.cssClass },
                                                icon.cssClass
                                            ]"
                                    @click="$root.player.metadata.avatar.value = icon.cssClass;"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" v-else-if="$root.isConnecting">
                <div class="row">
                    <div class="col">
                        <label style="white-space: pre-wrap;">{{ $root.connectionStatus }}</label>
                    </div>
                </div>
            </div>
            <div class="container-md h-100" v-else>
                <div class="row h-100">
                    <div id="game-panel" class="col-12 col-sm-12 col-md-8 col-lg-9 h-100">
                        <div class="game__wrap">
                            <game-panel></game-panel>
                        </div>
                    </div>
                    <div id="setup-panel" class="col-12 col-sm-12 col-md-4 col-lg-3 h-100 overflow-auto">
                        <div v-if="$root.isConnected" class="d-flex flex-column h-100">
                            <div>
                                <div class="input-group input-group-sm mt-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-sm">Room</span>
                                    </div>
                                    <input type="text" class="form-control" :value="$root.copyGameLinkText === 'Copied!' ? 'Copied!' : $root.roomId" disabled />
                                    <div class="input-group-append">
                                        <a class="btn btn-outline-dark" @click.prevent="$root.helpers.copyGameLink"
                                           :href="$root.helpers.getGameLink()" :title="$root.copyGameLinkText">

                                            <i class="fas fa-copy"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3" v-if="!$root.gameState.started">
                                <div v-if="$root.isHost">
                                    <button type="button" class="btn btn-outline-primary btn-block" @click="$root.events.startGame" v-bind:disabled="!$root.computed.anyReady">Start</button>
                                </div>
                                <div v-else>
                                    <button type="button" class="btn btn-outline-primary btn-block" v-if="!$root.player.isReady" @click="$root.events.toggleReady">Ready</button>
                                    <button type="button" class="btn btn-outline-danger btn-block" v-else @click="$root.events.toggleReady">Un-Ready</button>
                                </div>
                            </div>
                            <div id="time-tracker" v-if="$root.gameState.turnTimeRemaining !== null" class="mt-3">
                                <div style="display: inline-block; height: 1em; width: 1em; vertical-align: middle; position: relative;">
                                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                                        <fill-circle :percent="($root.gameState.turnTimeRemaining / $root.gameState.turnTime) * 100"
                                                     :color="($root.gameState.turnTimeRemaining / $root.gameState.turnTime) > 0.33 ? '#f39c12' : '#c0392b'"></fill-circle>
                                    </div>
                                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                                        <svg height="1em" viewBox="0 0 443.294 443.294" style="height: 1em;">
                                            <path d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z" />
                                            <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z" />
                                        </svg>
                                    </div>
                                </div>
                                <div style="display: inline-block; vertical-align: middle; margin-left: 0.5em;">
                                    {{Math.round($root.gameState.turnTimeRemaining)}}s remaining
                                </div>
                            </div>
                            <div id="current-turn" v-if="$root.computed.currentTurnPlayer" class="mt-3 d-md-none d-lg-none d-xl-none"
                                 :style="{ 'background-color': $root.gameState.currentTurn === $root.player.id ? '#27ae60' : null }">

                                <i class="fas fa-user"></i>
                                {{$root.computed.currentTurnPlayer.name}}
                            </div>
                            <div class="mt-3">
                                <h6 style="margin: 0; text-align: center;">Players</h6>
                                <div class="player__avatars__box">
                                    <div class="player__avatars">
                                        <div v-for="player in $root.computed.playersSortedByImportance"
                                             :title="player.name"
                                             :class="{
                                                'player__avatar': true,
                                                'player--spectating': $root.gameState.started && !player.isPlaying,
                                                'player--ready': !$root.gameState.started && player.isReady,
                                                'player--turn': $root.gameState.currentTurn === player.id,
                                                'player--me': player.id === $root.player.id
                                             }">

                                            <player-avatar :player="player"></player-avatar>

                                            <span class="player__avatar__name">{{player.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-secondary btn-block" @click="$root.viewGameConfig = true;">View Config</button>
                            </div>
                            <div class="mt-3 mb-3 d-flex flex-column" style="flex: 1; min-height: 0;">
                                <div class="chat__box" style="flex: 1; min-height: 150px;" id="chat-box">
                                    <div class="chat__messages" id="chat-messages">
                                        <div v-for="message in $root.messages" v-bind:title="message.created" class="chat__message">
                                            <template v-for="player in [$root.helpers.getPlayer(message.playerId)]">
                                                <span v-if="player.name" :style="{ 'color': player.color }" class="chat__message-name">{{ player.name }}</span>
                                                <span class="chat__message-message" :style="{ 'color': message.color }">{{ message.message }}</span>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <form @submit.prevent="$root.helpers.submitMyMessage" class="mt-1">
                                    <div class="input-group">
                                        <input type="text" class="form-control" v-model="$root.myMessage">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-dark" type="submit" title="Send message">
                                                <i class="fas fa-caret-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="$root.viewGameConfig"
             style="display: none;" v-show="true"
             class="modal__dialog-wrap"
             @click="$root.viewGameConfig = false;"
             @keydown.esc="$root.viewGameConfig = false;"
             tabindex="0"
             v-focus>

            <div style="position: fixed; top: 24px; right: 24px; font-size: 5em; color: white; cursor: pointer; line-height: 1em;">
                <i class="fas fa-window-close"></i>
            </div>
            <div class="modal__dialog" @click.stop="">
                <div class="modal__dialog__content">
                    <config-panel></config-panel>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.prod.js" integrity="sha512-M8VjsuCj1iBzrwKloFNjvQBmFXT2oF0MWExoLGpQT2nEx5tq7CP+BhWGJdczT1LoWAhyqHh+LJ6ihHSVGyclHw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.0/howler.min.js" integrity="sha512-ALoawPS0JxHQ+8dGL7htZIlVNRaE/SN9gHD4G8pJJTi9H4BQ/3PjdvhggSGR34g00mvTPFkxQuveQUsJA5664Q==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js" integrity="sha512-hqwtOj6waHZZoLRoJoLn0tq34JS97tR1QmhM69uvyrt3LVBiR1o0xeOVAskjUFL1L1fahQH2W7IdcMaFbqCEaw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.js" integrity="sha512-rOS+dRWxckK6Ruh7+ybrHke9vr3WIqplzcu3Jg9C/BPxoEisNulj0kKjT9W6Byn/Gg817ENltr53/vWmA8GW6g==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.1.7/chance.min.js" integrity="sha512-dELYIOEzIECWdvsEdoywFOB4qKDmtQee33yD0dQnzAE7eBGKJ984VQXRLs/vlsP4Sb3VchbQL7iAy4NWqetCsw==" crossorigin="anonymous"></script>

    <script src="scripts/libs/base_converter.js"></script>

    <script src="scripts/vue.directives.js"></script>

    <script src="scripts/helpers.js"></script>

    <!-- custom games swap these tag -->
    <!-- Alternatively used by ?game url parameter -->
    <script type="text/javascript">
        var app = app || {};
        app.gameName = new URLSearchParams(window.location.search).get('game') || 'omok';
        document.write('<link href="styles/game-' + app.gameName + '.min.css" rel="stylesheet" />');
        document.write('<script src="scripts/game/' + app.gameName + '.js"><\/script>');
    </script>

    <script src="scripts/main.js"></script>
</body>
</html>